<h1 class="page-header">SLCfit</h1>

<div class="side-nav">
  <p><%= link_to 'Home', new_goal_path %></p>
  <hr />
  <p><%= link_to 'My Goals', goals_path %></p>
  <hr />
  <p><%= link_to 'New Goal', new_goal_path %></p>
  <hr/>
  <p><%= link_to 'Account Settings', edit_user_registration_path %></p>
  <p><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></p>
</div>


