<!-- Sidebar -->
<a href="#menu-toggle" class="btn btn-default hidden-lg hidden-md side-nav-button" id="menu-toggle"><i class="fa fa-bars"></i></a>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <h1><%= link_to 'SLCfit', main_app.goals_path %></h1>
    </li>
    <li>
      <p><%= image_tag current_user.image(:thumb), class: "profile-pic" %></p>
      <h3 class='side-nav-username'><%= current_user.username %></h3>
    </li>
    <li><%= link_to 'My Goals', main_app.goals_path %></li>
    <li>
      <li><%= link_to 'My Biometrics', main_app.biometrics_path %></li>
    
    <!-- <li><%#= link_to 'New Info', main_app.new_info_path %></li> -->
    </li>
    <li><%= link_to 'Forum', forem.forums_path %></li>
    <li><%= link_to 'Account Settings', main_app.edit_user_registration_path %></li>
    <li><%= form_tag main_app.search_results_path, :method => 'get' do %>
      <div class="form-group" style="margin: 0 30px">
        <%= text_field_tag :term, params[:term], placeholder: 'Gyms', class: "form-control" %>
        <%= text_field_tag :location, params[:location], placeholder: 'Salt Lake City', class: "form-control" %>
        <%= submit_tag "Search", :name => nil, class: "btn btn-default"%>
        <p class="yelp">powered by <%= image_tag "https://s3-media2.fl.yelpcdn.com/assets/srv0/developer_pages/55e2efe681ed/assets/img/yelp_logo_50x25.png" %></p>
      </div>
      <% end %></li>
    <br>
    <br>
    <br>
    <li><%= link_to 'Sign Out', main_app.destroy_user_session_path, method: :delete %></li>
  </ul>
</div>


