<div class="row">
  <div class="col-sm-12 text-center">
    <h2>Yelp Search</h2>
    <p>showing 12 results</p>
    <hr>
      
    <div class="row">
    <% @search_results["businesses"].each do |business| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= image_tag business["image_url"] %>
          <div class="caption">
          <h3><a href="<%= business['url']%>" target='blank'><%= business["name"] %></a></h3>
            <p><%= image_tag business["rating_img_url"] %></p>
            <p><%= business["display_phone"] %></p>
            <p><%= business["location"]["display_address"].join(", ") %></p>
          </div>
        </div>
      </div>
    <% end %>
    </div>

    <!-- Hey Rosie! Have fun with this tomorrow! You'll figure it out :) -->
    <!-- You need to parse @search_results to display everything -->
    <!-- Essentially you'll iterate through the results -->
    <!-- Good luck! You can Slack me! -->
    <!-- Also slack Will! -->

  </div>
</div>
