<h2><%= link_to t('forem.forum.forums'), forem.forums_path %> &raquo; <%= link_to forem_emojify(topic.forum.title), [forem, topic.forum] %> </h2>
 <div class="forum-post"><h4>TITLE:</h4> <%= forem_emojify(topic.subject) %> Started By:
  <br>
  <br>
  <br>
  <div id='menu'>
    <div class='btn-group'>
      <% if @topic.can_be_replied_to? && can?(:reply, @topic) %>
        <%= link_to t("Join Coversation"), forem.new_forum_topic_post_path(@forum, @topic), :class => "btn btn-primary btn-xs " %>
      <% end %>
      <% if @topic.user == forem_user || forem_admin? %>
        <%= link_to t(".delete"), forem.forum_topic_path(@forum, @topic), :method => :delete, data: { :confirm => t("are_you_sure") }, :class => "btn btn-danger" %>
      <% end %>
    </div>
    <% if forem_admin? %>
      <div class='btn-group'>
        <%= link_to t('forem.topic.links.edit'), forem.edit_admin_forum_topic_path(@forum, @topic), :class => "btn" %>
        <%= link_to t(".hide.#{@topic.hidden}"), forem.toggle_hide_admin_forum_topic_path(@forum, @topic), :method => :put, :class => "btn" %>
        <%= link_to t(".lock.#{@topic.locked}"), forem.toggle_lock_admin_forum_topic_path(@forum, @topic), :method => :put, :class => "btn" %>
        <%= link_to t(".pin.#{@topic.pinned}"), forem.toggle_pin_admin_forum_topic_path(@forum, @topic), :method => :put, :class => "btn" %>
      </div>
    <% end %>
  </div>
</div>