<div id='topic' class='<%= 'un' unless @topic.locked? %>locked'>
  <%= render :partial => 'forem/topics/head', :locals => { :topic => @topic } %>

 <hr>

  <% if @topic.pending_review? %>
    <div class="moderation alert" id='topic_moderation'>
      <%= t(".pending_review") %>
      <% if forem_admin_or_moderator?(@topic.forum) %>
        <%= form_for @topic, :url => forem.moderate_forum_topic_path(@topic.forum, @topic), :method => :put do |f| %>
          <%= render "/forem/moderation/options", :f => f %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= forem_pages_widget(@posts) %>

  <div id='posts'>
    <%= render :partial => "forem/posts/post", :collection => @posts %>
  </div>

  <%= forem_pages_widget(@posts) %>
</div>
<div class='btn-group'>
   <!--    <% if @topic.can_be_replied_to? && can?(:reply, @topic) %>
        <%#= link_to t("Join Coversation"), forem.new_forum_topic_post_path(@forum, @topic), :class => "btn btn-primary btn-xs forum-button " %>
      <% end %> -->
      <% if @topic.user == forem_user || forem_admin? %>
        <%= link_to t(".delete"), forem.forum_topic_path(@forum, @topic), :method => :delete, data: { :confirm => t("are_you_sure") }, :class => "btn btn-danger btn-xs" %>
      <% end %>
    </div>