<div class="row">
  <div class="col-sm-2">
      <%= render(partial: 'shared/side_nav') %>
  </div>
  <div class="col-sm-10 scroll text-center">
    <div class="row">
      <div class="container">
        <h2 class="page-header">Edit Goal</h2>

        <%= form_for @goal, url: goal_path(@goal.id) do |f| %>

          <div>
            <p><%= f.label ("what's your goal?") %></p>
            <p><%= f.text_area :description, class: "custom-input" %></p>
          </div>

          <div class="form-group">
            <p><%= f.label('why do you want to acheive this goal?') %></p>
            <p><%= f.text_area :reason, class: "custom-input"  %></p>
          </div>

          <div class="form-group">
            <p><%= f.label('time frame (weeks)') %></p>
            <p><%= f.select :time_frame, options_for_select(1..52), class: "custom-input"  %></p>
          </div>

          <div class="form-group">
            <%= f.submit "Save Changes", class: "custom-submit" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row footer">
  <p>footer</p>
</div>


