<h1>Edit Goal</h1>

<% form_for @goal do |f| %>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description %>
  <div class="form-group">
  </div>
    <%= f.label :reason %>
    <%= f.text_field :reason %>
  <div class="form-group">
  </div>
    <%= f.label :time_frame %>
    <%= f.number_field :time_frame %>
  <div class="form-group">
  </div>
  <div class="form-group">
    <%= f.submit "Save Changes" %>
  </div>
<% end %>





  create_table "goals", force: :cascade do |t|
    t.integer  "user_id"
    t.text     "description"
    t.text     "reason"
    t.integer  "time_frame"
    t.boolean  "complete"
    t.datetime "created_at",  null: false
    t.datetime "updated_at",  null: false
  end