<h1>Edit Goal</h1>

<% form_for @goal do |f| %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :reason %>
  <%= f.text_field :reason %>

  <%= f.label :time_frame %>
  <%= f.number_field :time_frame %>

  <%= f.submit %>





  create_table "goals", force: :cascade do |t|
    t.integer  "user_id"
    t.text     "description"
    t.text     "reason"
    t.integer  "time_frame"
    t.boolean  "complete"
    t.datetime "created_at",  null: false
    t.datetime "updated_at",  null: false
  end