<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <h2>Edit Goal</h2>
      <hr />
      <%= form_for @goal, url: goal_path(@goal.id) do |f| %>
          
          <div>
            <p><%= f.label("what's your goal?") %></p>
            <p><%= f.text_area :description, class: "custom-input"%></p>
          </div>
          
          <div class="form-group">
            <p><%= f.label('why do you want to achieve this goal?') %></p>
            <p><%= f.text_area :reason, class: "custom-input"  %></p>
          </div>

          <div class="form-group">
            <p><%= f.label('time frame (weeks)') %></p>
            <p><%= f.select :time_frame, options_for_select(1..52), class: "custom-input"  %></p>
          </div>

          <div class="form-group">
            <%= f.submit "Save Changes", class: "custom-submit" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row footer">
  <p>footer</p>
</div> -->
