
<div class="row">
  <div class="col-sm-12 text-center">
    <h3><%= link_to ' ', main_app.new_goal_path, class: "fa fa-plus-circle fa-3x", data: {toggle: "tooltip", placement: "top"}, title: "new goal"%></h3>
    <h2>My Goals</h2>
    <p>these are you current goals.  click one to see your activities!</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12 text-center">
    <% @goals.each do |goal|  %>
      <h3>you want to <%= link_to goal.description, goal_weeks_path(goal.id) %></h3>
      <p><%= goal.reason%></p>
      <p>you have <%= goal.time_frame %> weeks to complete this goal.</p>
      <%= link_to 'Edit', edit_goal_path(goal.id) %> |
      <%= link_to 'Delete', goal_path(goal.id), method: :delete, data: {confirm: "Are you sure?"}%>
    <% end %>
    </div>
  </div>
</div>


<!-- <div class="row footer">
  <p>footer</p>
</div> -->
