<div class="container-fluid">
 <div class="row">
   <div class="text-center scroll">
     <%= form_for @goal do |f| %>
       <h2 class="page-header">New Goal</h2>

         <div>
           <p><%= f.label("what's your goal?") %></p>
           <p><%= f.text_area :description, class: "custom-input"%></p>
         </div>

         <div>
           <p><%= f.label('why do you want to achieve this goal?') %></p>
           <p><%= f.text_area :reason, class: "custom-input" %></p>
         </div>

         <div>
           <%= f.label('time frame (weeks)') %>
           <%= f.select :time_frame, options_for_select(1..52), class: "form-control custom-input" %>
         </div>

         <div class="form-group">
           <%= f.submit "Create Goal", class: "custom-submit" %>
         </div>

       <% end %>
     </div>
  </div>
</div>
