<div class="col-sm-12">
  <div class="bank-<%= week.id %>">
    <%= render partial: 'activities/progress', locals: {week: week, index: index} %>
  </div>

  <div id="calendar-<%= week.id %>">
    <%= render partial: '/activities/calendar', locals: {week: week} %>
  </div>

  <div class="bank-<%= week.id %>">
    <%= render partial: 'activities/bank', locals: {week: week, index: index} %>
  </div>
</div>
