<% activities_complete.each do |activity|  %>
  I went <%= activity.type %> on
  <%= activity.date %> for
  <%= activity.duration %> minutes
  <br>
  Description:
  <%= activity.description %>
  <br>
  <br>
<% end %>


<h3>Activities to Complete</h3>
<hr>
<% activities_not_complete.each do |activity|  %>
  <input class="activity-check" data-activity-id="<%= activity.id %>" type="checkbox">
  <div class="activity-type-text">
    <%= activity.type %>
  </div>
  <br>
  <br>
<% end %>
