<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="thumbnail mon col-md-2">
      <div class="caption">
        <h5>monday</h5>
        <hr>
        <% week.activities.complete.mon.each do |activity| %>
          <span class="<%= activity.icon %>"></span><br>
          <% end %>
      </div>
    </div>
    <div class="thumbnail tue col-md-2">
      <div class="caption">
        <h5>tuesday</h5>
        <hr>
        <p><% week.activities.complete.tues.each do |activity| %>
          <span class="<%= activity.icon %>"></span><br>
        <% end %></p>
      </div>
    </div>
      <div class="thumbnail wed col-md-2">
        <div class="caption">
          <h5>wednesday</h5>
          <hr>
          <p><% week.activities.complete.wed.each do |activity| %>
            <span class="<%= activity.icon %>"></span><br>
          <% end %></p>
      </div>
    </div>
    <div class="thumbnail thu col-md-2">
      <div class="caption">
        <h5>thursday</h5>
        <hr>
        <p><% week.activities.complete.thurs.each do |activity| %>
          <span class="<%= activity.icon %>"></span><br>
        <% end %></p>
      </div>
    </div>
    <div class="thumbnail fri col-md-2">
      <div class="caption">
        <h5>friday</h5>
        <hr>
        <p><% week.activities.complete.fri.each do |activity| %>
          <span class="<%= activity.icon %>"></span><br>
        <% end %></p>
      </div>
    </div>
     <div class="thumbnail sat col-md-2">
      <div class="caption">
        <h5>saturday</h5>
        <hr>
        <p><% week.activities.complete.sat.each do |activity| %>
          <span class="<%= activity.icon %>"></span><br>
        <% end %></p>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="thumbnail sun sun-thumb">
          <div class="caption">
            <h5>sunday</h5>
            <hr>
         <div class="col-sm-4 col-xs-6">
            <div class="row">
              <p><% week.activities.complete.sun.each do |activity| %>
                <div class="col-sm-4">
                  <span class="<%= activity.icon %>"></span>
                </div>
              <% end %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
