
<%= form_for :activity, url: goal_week_activities_path(@goal.id, locals[:week_id]) do |f| %>
  <div class="form-group">
    <%=  f.label('Type') %>
    <br>
    <%= f.select :type, Activity.types %>
    <div style='display: none' id="custom-activity-text">
      <%=  f.label('Name') %><br>
      <%= f.text_field :name %>
    </div>
  </div>
  <button type="submit" class="act-button btn btn-default">Add Activity</button>
<% end %>
