<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var bio_data = <%=raw @bio_array %>;
    var data = google.visualization.arrayToDataTable(bio_data);

    var options = {
      title: 'Weight Tracker',
      hAxis: {title: 'Date',  type: 'string', titleTextStyle: {color: '#333 '}},
      vAxis: {title: 'Weight', type: 'integer', minValue: 0},
      legend: {position: 'top', alignment: 'end', textStyle: {color: 'black'}},
      chartArea: {left: 250, top: 150, width: '100%', height: '50%'}
    };

    var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>

  <div class="col-sm-12 text-center">
    <!-- <div class="row"> -->
      <h2>My Data</h2>
      <p>track your progress!</p>
      <h3><%= flash[:error] %></h3>
      <hr>
      <% if @biometrics %>
        <div id="chart_div" style="width: 900px; height: 500px;"></div>
      <% else %>
        <p>please create a new biometric!</p>
      <% end %>
      <hr>
    <!-- </div> -->
    <!-- <div class="row"> -->
      <% @biometrics.each do |bio| %>
        <div class="col-sm-3 bio-div text-left">
          <p>metrics for <%= bio.created_at.strftime "%A %D %Y" %></p>
          <hr>
          <p>weight: <%= bio.weight %>lbs.</p>
          <p>height: <%= current_user.info.height %>"</p>
          <p>body mass index: <%= (bio.weight * 703) / (current_user.info.height ** 2) %></p>
          <% if bio.mile_speed != nil %>
            <p>you can run a mile in <%= bio.mile_speed %>minutes.</p>
          <% end %>
          <% if bio.lift_weight != nil %>
            <p>you can lift <%= bio.lift_weight %>lbs. (oooh, so strong.)</p>
          <% end %>
          <%= link_to 'Delete', biometric_path(bio.id), method: :delete, data: {confirm: "Are you sure?"}%>
        </div>
      <% end %>
    <!-- </div> -->
  </div>
</div>



