<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var weight_data = <%=raw @weight_array %>;
    var data = google.visualization.arrayToDataTable(weight_data);

    var options = {
      title: 'Weight Tracker',
      hAxis: {title: 'Date',  type: 'string', titleTextStyle: {color: '#333 '}},
      vAxis: {title: 'Weight', type: 'integer', minValue: 50, maxValue: 200},
      legend: {position: 'top', alignment: 'end', textStyle: {color: 'black'}},
      colors: ['purple']
      // chartArea: {width: '100%', height: '500px'}
    };

    var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var bmi_data = <%=raw @bmi_array %>;
    var data = google.visualization.arrayToDataTable(bmi_data);

    var options = {
      title: 'Body Mass Index Tracker',
      hAxis: {title: 'Date',  type: 'string', titleTextStyle: {color: '#333 '}},
      vAxis: {title: 'BMI', type: 'integer', minValue: 0, maxValue: 50},
      legend: {position: 'top', alignment: 'end', textStyle: {color: 'black'}},
      colors:['yellow']
      // chartArea: {width: '100%', height: '500px'}
    };

    var chart = new google.visualization.AreaChart(document.getElementById('bmi_chart_div'));
    chart.draw(data, options);
  }
</script>


<div class="row">
  <div class="col-sm-12 text-center">
    <h3><%= link_to ' ', main_app.new_biometric_path, class: "fa fa-plus-circle fa-3x", data: {toggle: "tooltip", placement: "top"}, title: "new biometric"%></h3>
    <h2>My Data</h2>
    <p>track your progress!</p>
    <h3><%= flash[:error] %></h3>
    <hr>
  </div>
</div>

<% if @biometrics %>
  <div class="row">
    <div class="col-sm-12 text-center ">
      <div class="row" style="overflow: scroll">
        <div class="col-sm-6">
          <div id="chart_div" style="width: 500px; height: 500px; margin: 0 auto"></div>
        </div>
        <div class="col-sm-6">
          <div id="bmi_chart_div" style="width: 500px; height: 500px; margin: 0 auto"></div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p>please create a new biometric!</p>
<% end %>
<hr>

<% @biometrics.in_groups_of(4, false).each do |group| %>
  <div class="row">
    <% group.each do |bio| %>
      <div class="col-sm-3 text-left">
        <h4>metrics for <%= bio.created_at.strftime "%a %D" %></h4>
        <hr>
        <p>weight: <%= bio.weight %>lbs.</p>
        <p>height: <%= current_user.info.height %>"</p>
        <p>body mass index: <%= (bio.weight * 703) / (current_user.info.height ** 2) %></p>
        <% if bio.mile_speed != nil %>
          <p>you can run a mile in <%= bio.mile_speed %>minutes.</p>
        <% end %>
        <% if bio.lift_weight != nil %>
          <p>you can lift <%= bio.lift_weight %>lbs.</p>
        <% end %>
        <%= link_to 'Delete', biometric_path(bio.id), method: :delete, data: {confirm: "Are you sure?"}%>
        <br>
        <br>
      </div>
    <% end %>
  </div>
<% end %>
