<div class="col-md-12 text-center">
  <% if current_user.biometrics.count == 0 %>
    <%= form_for @biometric do |f| %>
      <h2>Initial Biometric Data</h2>
      <h3>this is your first data entry.</h3>
      <hr>
      <% if @info %>
        <p>You are <%= current_user.info.height %>" tall and <%= Time.now.year - @year %> years old.  
         <%= link_to 'Edit', main_app.edit_info_path(@info.id) %></p>
       <% else %>
        <h3>It seems you don't have any basic user data. Enter new data <%= link_to 'here', main_app.new_info_path %>.</h3>  
      <% end %>
      <br>
      <div>
        <h4><%= f.label('how much do you weigh?(pounds)') %></h4>
        <p><%= f.select :weight, options_for_select(70..300), class: "custom-input" %></p> 
      </div>
      <br>
      <div>
        <h4><%= f.label('how fast can you run a mile?') %></h4>
        <p><%= f.label('psst...hate running?  leave it blank!') %></p>
        <%= f.text_field :mile_speed, placeholder: "minutes", class: "custom-input" %>
      </div>
      <br>
      <div>
        <h4><%= f.label('how much can you deadlift?') %></h4>
        <p><%= f.label('hate lifting heavy things?  leave it blank!') %></p>
        <p><%= f.text_field :lift_weight, placeholder: "pounds", class: "custom-input" %> 
      </div>
      <br>
      <div class="form-group">
        <%= f.submit "save data", class: "custom-submit" %>
      </div>
    <% end %>
  <% else %>
    <%= form_for @biometric do |f| %>
      <h2>New Biometric</h2>
      <p>update your current data here!</p>
      <hr>
      <% if @info %>
        <p>You are <%= current_user.info.height %>" tall and <%= Time.now.year - @year %> years old.  
         <%= link_to 'Edit', main_app.edit_info_path(@info.id) %></p>
       <% else %>
        <h3>It seems you don't have any basic user data. Enter new data <%= link_to 'here', main_app.new_info_path %>.</h3>  
      <% end %>
      <br>
      <div>
        <h4><%= f.label('how much do you weigh?(pounds)') %></h4>
        <p><%= f.select :weight, options_for_select(70..300), class: "custom-input" %></p> 
      </div>
      <br>
      <div>
        <h4><%= f.label('how fast can you run a mile?') %></h4>
        <p><%= f.label('psst...hate running?  leave it blank!') %></p>
        <%= f.text_field :mile_speed, placeholder: "minutes", class: "custom-input" %>
      </div>
      <br>
      <div>
        <h4><%= f.label('how much can you deadlift?') %></h4>
        <p><%= f.label('hate lifting heavy things?  leave it blank!') %></p>
        <p><%= f.text_field :lift_weight, placeholder: "pounds", class: "custom-input" %> 
      </div>
      <br>
      <div class="form-group">
        <%= f.submit "create biometric", class: "custom-submit" %>
      </div>
    <% end %>
  <% end %>
</div>

