<%= form_for @info do |f| %>
  <h2 class="page-header">Basic Biometric Data</h2>
  <p>this is your basic biometric data.  we won't ask you for your birthday or height after this, but you can always change it.</p>
  <br>
  <div>
    <h4><%= f.label("when is your birthday?") %></h4>
    <p><%= f.date_select :birthday, {:start_year => Time.now.year, :end_year => Time.now.year - 100}%></p>
  </div>
  <br>
  <div id="height">
    <h4><%= f.label("How tall are you?") %></h4>
    <p><%= f.text_field :height, required: true, placeholder: "inches (5 feet is 60 inches)", class: "custom-input" %></p>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit "save data", class: "custom-submit" %>
  </div>
  <% end %>