<!DOCTYPE html>
<html>
<head>
  <title>SLCfit</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application'%>

  <!-- google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Poiret+One|Pacifico|Raleway:400,100,200,300,500,600,700' rel='stylesheet' type='text/css'>

</head>
<body>
  <header>
    <% if user_signed_in? %>
      <div class="container-fluid">
        <div class="side-nav">
          <p>blah</p>
      </div>
    </div>
    <% else %>
      <%= render(partial: 'shared/top_nav') %>
    <% end %>

<div class="container-fluid bg-img-width">
    
</div>

<%= yield %>


</body>
</html>
